/* ========== ROOT ========== */
:root {
    --pixel-size: 2px;
    
    --cell-size: calc(var(--pixel-size) * 16);
    --tile-size: calc(var(--pixel-size) * 8);
}

@media( min-width: 700px ) {
    :root {
        --pixel-size: 3px;
    }
}

@media( min-width: 900px ) {
    :root {
        --pixel-size: 4px;
    }
}


/* ========== FUNDIMENTALS ========== */
html, body {
   height: 100%;
   margin: 0;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
}


/* ========== GAME ========== */
.pixel-art {
    image-rendering: pixelated;
}

.camera {
    width: calc(var(--pixel-size) * 208);
    height: calc(var(--pixel-size) * 160);
    overflow: hidden;
    background: black;
    position: relative;
}