/* ========== SHRINE ========== */
.obj .shrine {
    background-position-x: calc( var(--pixel-size) * -72);
    background-position-y: calc( var(--pixel-size) * -8);
}

.obj :nth-child(1)[light-dir="0"] {
    background-position-x: calc( var(--pixel-size) * 0);
}

.obj :nth-child(1)[light-dir="1"] {
    background-position-x: calc( var(--pixel-size) * -72);
}

.obj :nth-child(1)[light-dir="B"] {
    background-position-x: calc( var(--pixel-size) * -40);
}

.obj :nth-child(1)[light-dir="T"] {
    background-position-x: calc( var(--pixel-size) * -16);
}

.obj :nth-child(1)[light-dir="L"] {
    background-position-x: calc( var(--pixel-size) * -64);
}

.obj :nth-child(1)[light-dir="R"] {
    background-position-x: calc( var(--pixel-size) * -56);
}

.obj :nth-child(1)[light-dir="BR"] {
    background-position-x: calc( var(--pixel-size) * -32);
}

.obj :nth-child(1)[light-dir="BL"] {
    background-position-x: calc( var(--pixel-size) * -48);
}

.obj :nth-child(1)[light-dir="TR"] {
    background-position-x: calc( var(--pixel-size) * -24);
}

.obj :nth-child(1)[light-dir="TL"] {
    background-position-x: calc( var(--pixel-size) * -8);
}